<app-navbar />
<section class="main-info-show">
  <div class="container">
    <div class="hero">
      <app-buttons-main-episodes/>
      <div class="contenuti-hero row align-items-center h-100">
        <div class="col-12 col-lg-6 d-flex flex-column">
          <h1>{{shows.name}}</h1>
          <p class="summary">{{shows.summary}}</p>
        </div>
        <div class="col-4 offset-lg-3 col-lg-3">
          <img [src]="shows.image.original" class="w-100" alt="">
        </div>
      </div>
    </div>

    <div class="show-info w-50 mt-5">
      <h2>Show info</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Network: <span>{{shows.network.name}}</span></li>
        <li class="list-group-item">Schedule:  <span>{{shows.schedule.days}} at {{shows.schedule.time}}</span></li>
        <li class="list-group-item">Status:  <span>{{shows.status}}</span></li>
        <li class="list-group-item">Show type:  <span>{{shows.type}}</span></li>
        <li class="list-group-item">Show type:  <span>{{shows.genres}}</span></li>
        <li class="list-group-item">Official site:
          <span>
            <a [href]="shows.officialSite">click here</a>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>




