body {
    background-color: #303455;
}

.home {
    img {
        width: 300px;
        height: auto;
        padding-bottom: 100px;
    }
    
    app-searchbar {
        width: 60%;

        input {
            border-radius: 100px;
        }

        .btn-outline-secondary {
            border-radius: 100px;
            border-color: #7DCFB6;
            color: #7DCFB6
        }

    }
}

.lista-film {

    h2 {
        color: white;
        text-align: center;
        margin: 3rem;
    }

    .card {
    margin-bottom: 15px;
    min-height: 425px;
    max-height: 450px;
    }

    .card-img-top {
    height: 200px;
    object-fit: cover;
    }

    .btn.btn-primary {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    }

}

.app-buttons-main-episodes {
    .bottoni {
        height: 10%;
    }

    .btn {
        width: 10%;
        margin: 2rem 2rem 0 2rem;
    }
}

.main-info-show {

    .hero {
        height: calc(100vh - 61.5px);

        .contenuti-hero {
            height: 90%;
        }

        h1 {
            font-size: 6rem;
            color: white;
        }
    
        .summary {
            color: white;
            font-weight: lighter;
        }
    }
}
.show-info {

    h2 {
        color: white;
    }

    .list-group-item {
        background-color: #303455;
        color: white;

        span {
            font-weight: lighter;
            color: white; 
        }

        a {
            color: white;
            font-style: italic;
        }
    }
}