body {
    background-color: #303455;
}

.home {
    img {
        width: 300px;
        height: auto;
        padding-bottom: 100px;
    }
    
    app-searchbar {
        width: 60%;

        input {
            border-radius: 100px;
        }

        .btn-outline-secondary {
            border-radius: 100px;
            border-color: #7DCFB6;
            color: #7DCFB6
        }

    }
}

.lista-film {

    h2 {
        color: white;
        text-align: center;
        margin: 3rem;
    }

    .card {
    margin-bottom: 15px;
    min-height: 425px;
    max-height: 450px;
    }

    .card-img-top {
    height: 200px;
    object-fit: cover;
    }

    .btn.btn-primary {
    position: absolute;
    margin-bottom: 20px;
    bottom: 0;
    }

}

.main-info-show {

    .summary {
        color: white;
    }
    .show-info {
        background-color: aliceblue;
    }

}